body{

	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 20%;
	padding-left: 20%;
	font-family: 'Orbitron', sans-serif;



}
h1,h3, strong{
	color: plum;
}
.gold > p {
	font-style: italic;;
}
h1,h3{
	text-align: center;
}
h2{
	text-align: right;
	color: plum;
	border-bottom: lightslategray solid 1px;
}
hr{
	color:lightslategray;
	border: dotted thin;
	width: 50%;;
}
p{
	color: darkslategray;

	text-align: justify;
}


