body{
	padding-left: 20%;
	padding-right: 20%;

}
h1,h3, strong{
	color: plum;
}
h1,h3{
	text-align: center;
}
h2{
	text-align: right;
	color: plum;
	border-bottom: lightslategray solid 1px;
}
hr{
	color:lightslategray;
	border: dotted thin;
	width: 50%;;
}
p{
	color: darkslategray;
	font-family: Georgia, serif;
}


